#root{
  height: 100%;
}

.kanit-regular {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.kanit-semibold {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.logo-font{
  font-size: 1.5rem;
  color: #014A43;
}

.center{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

